*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label.checkbox input{
    display: none;
}

label.checkbox > span{
    display: inline-block;
    position: relative;
    width: 30px;
    height: 17px;
    border-radius: 8px;
    background: red;
}

label.checkbox > span > span{
    display: inline-block;
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: white;
    left: 1px;
    top: 1px;
    bottom: 1px;
}

label.checkbox input:checked + span > span{
    right: 1px;
    left: auto;
}