<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <h1>Hello cac pp</h1>
    <div>
        <ul th:each="s: ${listS}">
            <li th:text="${s.id}"></li>
            <li th:text="${s.name}"></li>
            <li th:text="${s.age}"></li>
        </ul>
    </div>
    <script th:src="@{/main.js}"></script>
</body>
</html>