<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <h1>Hello cac pp</h1>
    <div>
        <h2>Students List</h2>
        <ul id="list-students">
        </ul>
    </div>
    <div>
        <div>
            <label for="">Name:</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="">Age:</label>
            <input type="text" name="age">
        </div>
        <div>
            <label for="">Point:</label>
            <input type="text" name="point">
        </div>
        <div>
            <button id="create">Create</button>
        </div>
    </div>
    <script th:src="@{/main.js}"></script>
</body>
</html>